div {
    background-color: #A64DFE;
}

.menu {
    text-align: center;
    font-family: Economica;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

span {
    padding: 0 16px 0;
}

span:hover {
    color: #9F9F9F;
    background-color: #EDEDED;
}